<!--
<form action="/users" method="POST" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">

    <label for="password">Password:</label>
    <input type="password" id="user_password" name="user[password]">

    <label for="email">E-mail:</label>
    <input type="text" id="email" name="user[email]">

    <input type="submit" value="submit">
</form>
-->

<!--
<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>

    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>

    <%= label_tag(:email, "E-mail") %>
    <%= text_field_tag(:email) %>

    <%= submit_tag("Submit")%>
<% end %>
-->

<%= form_with model: @user do |form| %>
    <% unless @user.errors.full_messages == [] %>
        <%= @user.errors.full_messages %>
    <% end %>

    <%= form.label :username, "Username:" %>
    <%= form.text_field :username, placeholder: "Your name here" %>

    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, placeholder: "Your password here" %>

    <%= form.label :email, "E-mail:" %>
    <%= form.email_field :email, value: "emil here", placeholder: "example@example.com" %>

    <%= form.submit "Submit" %>
<% end %>